---
layout: default
---
<div class="post-wrapper">
  <div class="left"></div>
  <div class="center">
    <small>
      <a href="/"><i>← retour à l'accueil</i></a>
    </small>

    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
      <div class="post-title">
        <h1 itemprop="name headline">{{ page.title | escape }}</h1>
        <p class="post-meta">
          <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            le {{ page.date | date: "%d/%m/%Y" }}
          </time>
          {%- if page.modified_date -%}
          ~
          {%- assign mdate = page.modified_date | date_to_xmlschema -%}
          <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
            modifié le {{ mdate | date: "%d/%m/%Y" }}
          </time>
          {%- endif -%}
        </p>
      </div>

      <div class="post-content" itemprop="articleBody">
        {{ content }}
      </div>
    </article>
  </div>
  <div class="right">
    <nav id="table-of-contents"></nav>
  </div>
</div>

<script src="/assets/easy-toc.min.js"></script>
<script>
  let my_toc = new easy_toc(document.querySelector('#table-of-contents'), {
    include: ['h2'],
    anchor_nodename: 'div',
    anchor_class: 'anchor'
  });
  my_toc.init();
</script>
